<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Recognised Attendance</title>
    <!-- Bootstrap CDN link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Google Font link -->
    <link href="https://fonts.cdnfonts.com/css/brittany-signature" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/index-styles.css">
    <link href="../static/style.css" rel="stylesheet">
    <style>
        .navbar-text {
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <!-- Navbar -->
        <div class="row">
            <div class="container">
                <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                    <a class="navbar-brand" href="#">
                        <img src="../static/images/vsh.jpeg" width="30" height="30" class="d-inline-block align-top" alt="Company Logo">
                        VIKAS
                    </a>
                    <span class="navbar-text mx-auto">
                        Face Recognition Attendance System
                    </span>
                    <div class="d-flex">
                        <span class="navbar-text" id="currentDate">
                            Date: 
                        </span>
                        <span class="navbar-text" id="currentTime" style="margin-left: 20px;">
                            Time: 
                        </span>
                    </div>
                    <form action="/logout" method="POST">
                        <button type="submit" class="btn my-2 my-sm-0" style="margin-right: 20px">Logout</button>
                    </form>
                </header>
            </div>
        </div>

        <!-- Body -->
        <div class="row">
            <p class="text-end">{{ mess }}</p>
            <div class="col" style="border-radius: 20px; padding: 0px; background-color:rgb(211,211,211,0.5); margin:0px 10px 10px 10px; min-height: 400px;">
                <h2 style="border-radius: 20px 20px 0px 0px; background-color: #17139e; color: white; padding: 10px;">Today's Attendance <i class="material-icons">assignment</i></h2>
                <a style="text-decoration: none; max-width: 300px;" href="/start">
                    <button id='Abutton' type='submit' class='btn btn-outline-primary'>Take Attendance <i class="material-icons">beenhere</i></button>
                </a>
                {% if student_details %}
    <div style="overflow-x: auto;">
        <table style="background-color: white; font-size: 18px; color: #333; border-collapse: collapse; width: 90%;">
            <tr>
                <td style="padding: 10px; text-align: left;"><b>Name</b></td>
                <td style="padding: 10px; text-align: left;"><b>Roll</b></td>
                <td style="padding: 10px; text-align: left;"><b>Time</b></td>
            </tr>
            {% for student in student_details %}
                <tr>
                    <td style="padding: 10px; text-align: left; color: #555;">{{ student.name }}</td>
                    <td style="padding: 10px; text-align: left; color: #555;">{{ student.roll }}</td>
                    <td style="padding: 10px; text-align: left; color: #555;">{{ student.time }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}



                </table>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col" style="border-radius: 20px; padding: 0px; background-color:rgb(211,211,211,0.5); margin:0px 10px 10px 10px; height: 400px;">
                        <form action='/add' method="POST" enctype="multipart/form-data">
                            <h2 style="border-radius: 20px 20px 0px 0px; background-color: #17139e; color: white; padding: 10px;">Add New User <i class="material-icons">control_point_duplicate</i></h2>
                            <label style="font-size: 20px;"><b>Enter New User Name*</b></label>
                            <br>
                            <input type="text" id="newusername" name='newusername' style="font-size: 20px; margin-top:10px; margin-bottom:10px;" required>
                            <br>
                            <label style="font-size: 20px;"><b>Enter New User Id*</b></label>
                            <br>
                            <input type="text" id="newusereid" name='newuserid' style="font-size: 20px; margin-top:10px; margin-bottom:10px;" required>
                            <br>
                            <button id="add" type='submit' class='btn btn-outline-primary '>Add New User</button>
                            <br>
                            <br>
                            <h5 style="padding: 25px;"><i>Total Users in Database: {{ totalreg }}</i></h5>
                        </form>
                        
                    </div>
                </div>
                <div class="row">
                    <h1>Total Users lists</h1>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="container-fluid">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                    </a>
                    <span class="mb-3 mb-md-0 text-muted">© Vikas 2024, Face Recognition Attendance System</span>
                </div>
                <!-- <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-muted" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg></a></li>
                </ul> -->
            </footer>
        </div>

    </div>

    <script>
        // JavaScript code to update the current date and time
        function updateDateTime() {
            var currentDateElement = document.getElementById('currentDate');
            var currentTimeElement = document.getElementById('currentTime');

            var now = new Date();
            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            var formattedDate = now.toLocaleDateString('en-US', options);
            var formattedTime = now.toLocaleTimeString('en-US');

            currentDateElement.innerText = 'Date: ' + formattedDate;
            currentTimeElement.innerText = 'Time: ' + formattedTime;
        }

        // Update the date and time every second
        setInterval(updateDateTime, 1000);

        // Call the function to set the initial date and time
        updateDateTime();
    </script>
    <script>
        function logout() {
            window.location.href = '/logout';
        }
    </script>
    

    <!-- Bootstrap JavaScript dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
